<ul class="list-inline text-center">
  <% data.team.each do |member, infos| %>
    <li>
      <%= image_tag infos.picture, class: "img-circle", width: 100 %>
      <h3><%= member.capitalize %></h3>
    </li>
  <% end %>
</ul>
